//-----=> VARIABLES
$text-color: rgba(0,0,0,.6)
$black-color: rgb(0,0,0)
$light-gray: rgba(0,0,0,0.1)
$icon-hover-color: rgba(0,0,0,.7)
//-----=> MIXINS
//-----=> ROOT
//############################################
//-----=> BODY
//############################################
*, *::before, *::after
  margin: 0
  padding: 0
  box-sizing: border-box

body
  text-align: center
  font-family: 'Montserrat', sans-serif
  border: 5px solid silver
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  height: 100vh
  background-image: url(site-bg.png)
  background-size: cover
  @media screen and (max-height: 1024px)
    height: auto

@media (prefers-color-scheme: dark) 
  body
    border-color: $black-color
  
//############################################
//-----=> HEADER 
//############################################  
header
  width: 100%

  h1
    font-family: 'Doppio One', sans-serif

  h2
    @media screen and (max-width: 390px)
      font-size: 98%
svg
  fill: $black-color
  
.icon
  width: 3.5rem
  height: 3.5rem
  padding: .25rem
  transition: all .3s ease-in-out
  &:hover
    fill: $icon-hover-color
    transform: scale(1.5)

//############################################
//-----=> MAIN
//############################################

main
  color: $text-color
  width: 95%
  margin-top: 1rem
  text-shadow: 2px 2px 2px #ccc
  @media screen and (min-width: 800px)
    margin: 2.5rem

p 
  text-align: left
  line-height: 1.75
  text-rendering: optimizeLegibility
  @media screen and (min-width: 800px)
    margin: auto 20vw
ul
  padding-top: 2rem
  list-style: none
  display: flex
  justify-content: center
  flex-wrap: wrap
  li 
    padding: 0 2rem

a:link
  color: $text-color

section
  background: white
  border: 1px solid $light-gray
  border-radius: 4px
  padding: 2rem
  margin: 3rem auto
h3
  &::before
    content: '- '
  &::after
    content: ' -'
img
  filter: grayscale(1)
  max-width: 100%

hr
  margin: 3rem auto
  @media screen and (min-width: 800px)
    width: 50%
//############################################
//-----=> footer
//############################################

//############################################
//-----=> UTILITIES
//############################################
.m-1a
  margin: 1rem auto
//############################################
//-----=> ANIMATION
//############################################