//-----=> VARIABLES
$text-color: rgba(0,0,0,.6)
$black-color: rgb(0,0,0)
$icon-hover-color: rgba(0,0,0,.7)
//-----=> MIXINS
//-----=> ROOT
//############################################
//-----=> BODY
//############################################

body
  text-align: center
  font-family: 'Montserrat', sans-serif
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  height: 100vh
  margin: 0
  border: 5px solid silver
  background-image: url(site-bg.png)
  background-size: cover

  // @media (prefers-color-scheme: dark) 
  //  background: #4A4A4A
  //  margin: 10px

   //back at it
  
//############################################
//-----=> HEADER  {dog101}
//############################################  
header
  width: 100%

  h1
    font-family: 'Doppio One', sans-serif

svg
  fill: $black-color
  

.icon
  width: 3.5rem
  height: 3.5rem
  padding: .25rem
  transition: all .2s ease-in-out
  &:hover
    fill: $icon-hover-color
    transform: scale(1.5)
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    border-radius: 4px

//############################################
//-----=> MAIN
//############################################

main
  padding: 2.5rem
  color: $text-color
  // animation: 2s ease infinite pulse;
  // text-shadow: 2px 2px 2px #ccc
p 
  text-align: left
  margin: auto 20vw
  line-height: 1.75
ul
  padding-top: 2rem
  list-style: none
  li 
    display: inline-block
    padding: 0 2rem
a:link
  color: $text-color
 
//############################################
//-----=> footer
//############################################
footer

//############################################
//-----=> ANIMATION
//############################################